<ion-content class="page1-background">

  <ion-header collapse="condense">
    <img src=".\assets\menu.png" alt="menu" class="page1-menu">
    <img src=".\assets\green-swoosh.png" alt="green-swoosh" class="green-swoosh">
    <img src=".\assets\user.png" alt="user" class="user">
  </ion-header>

  <section>
    <div class="square1"> <img src=".\assets\kyriegreen-white1.png" class="sneaker1"> </div>
    <div class="square2"> <img src=".\assets\airforcemid.png" class="sneaker2"> </div>
    <div class="square3"> <img src=".\assets\kyrieblue-orange.png" class="sneaker3"> </div>
  </section>

  <section>
    <img src=".\assets\kyriegreen-white.png" alt="tenis Kyrie Infinity" class="page-center-img">
    <h1 class="page1-title1">KYRIE INFINITY</h1> <h2 class="page1-title2">Calçados para Basquete</h2><br>
    <p class="page1-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vitae porta ante. Suspendisse a massa vitae justo lacinia accumsan.</p>
    <h2 class="page1-price">Preço</h2>
    <h1 class="page1-value">$ 799</h1>
  </section>

  <div class="p-circulo"></div>
  <div class="s-circulo"></div>
  <div class="t-circulo-pequeno"></div>
  <div class="p-elipse"></div>
  <div class="s-elipse"></div>

  <div class="share">
    <img src=".\assets\share.png" alt="share">
  </div>

  <div class="shopping-bag">
    <img src=".\assets\shopping-bag.png" alt="shopping-bag">
  </div>

</ion-content>
