<ion-content class="home-background">
  <ion-header collapse="condense">
    <img src=".\assets\white-swoosh.png" alt="Swoosh" class="home-swoosh">
  </ion-header>
  
  <div>
    <img src=".\assets\kyriegreen-white.png" alt="tenis Kyrie Infinity" class="home-img">
    <h1 class="home-title1">SUMMER COLLECTIONS <span class="home-title2">2022</span></h1><br>
    <p class="home-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vitae porta ante. Suspendisse a massa vitae justo lacinia accumsan.</p>
  </div>

  <ion-button class="home-button" shape="round" color="#F2C94C"><a routerLink="/pagina1" class="home-button-link">GET STARTED<img src=".\assets\arrow-right.png"></a> </ion-button>

</ion-content>
